*{
    background-color: burlywood;
}

.counter-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #3282b8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0f4c75;
}

.btn:active {
    background-color: #1b262c;
}
