<p>reservation-list works!</p>

<h2>Reservation List</h2>

<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
        Guest: {{reservation.guestName}} <br>
        Email: {{reservation.guestEmail}} <br>
        Room No.: {{reservation.roomNumber}} <br>
        Check-Out: {{reservation.checkOutDate}} <br>
        Check-In: {{reservation.checkInDate}} <br>
        <button (click)="deleteReservation(reservation.id)">Delete</button>
        <button [routerLink]="['/edit', reservation.id]">Edit</button>
    </li>
</ul>

<ng-template #noReservation>          
    <p>No reservation available.</p>
</ng-template>

<!-- #noReservation is the name. given to this ng-template and this will be activated using ngIf condition -->
<!-- At ul we will give ngIf show list if reservation.length>=1 else show noReservation template -->